################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/AtCoder/v15/Server/sqlite3
/AtCoder/bin/Debug
/AtCoder/obj/Debug
/.vs/AtCoder/v15/.suo
